<!--Formulário--> 

<form action="/postagens/add" method="POST"> 
<!-- Rota e método de acesso a página -->

    <h1 class="hometitulo"> Cadastro de Postagens </h1>
    <p> Titulo: </p>
    <input type="text" name="titulo">
    <br>
    <p> Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <br> <br>
    <button type="submit" class="botaoVerde"> Cadastrar postagem </button>

</form>